<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uhcl.reachapp">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="com.uhcl.reachapp.activities.ReachApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/reach_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/reach_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.uhcl.reachapp.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.uhcl.reachapp.activities.SignUpUserDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uhcl.reachapp.activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uhcl.reachapp.activities.SignUpConfirmActivity"
            android:label="Confirm your number"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uhcl.reachapp.activities.ChatListMainActivity"
            android:label="ReachApp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.uhcl.reachapp.activities.NewChatActivity"
            android:label="New Chat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.uhcl.reachapp.activities.ChatScreenActivity"
            android:label="Chat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.uhcl.reachapp.activities.BCCActivity"
            android:label="Broadcast"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.uhcl.reachapp.activities.BCCGroupSendActivity"
            android:label="Broadcast"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>